# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Build options ###############################################################
build --color=yes

# Disk cache setup ############################################################
build --disk_cache=/tmp/bazel_disk_cache

# Alias definition ############################################################
# Allow the user to specify the build mode and precision with:
# --mode=[serial|parallel]
# --precision=[single|double]
build --flag_alias=mode=//:mode
build --flag_alias=precision=//:precision

# Compilation options #########################################################
build --copt=-g
build --copt=-Wall
build --copt=-Wextra
build --copt=-Werror
build --copt=-std=c++17
build --cxxopt=-Wno-unused-parameter
build --strip=never

# build:macos --cxxopt=-Wno-error=deprecated-declarations
# build:macos --cxxopt=-Wno-error=deprecated-enum-enum-conversion
# build:macos --cxxopt=-Wno-error=deprecated-anon-enum-enum-conversion
# build:macos --cxxopt=-Wno-error=inconsistent-missing-override
# build:macos --cxxopt=-Wno-error=overloaded-virtual

# Prevent Bazel from detecting the system's C++ toolchain.
# build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
# build --incompatible_strict_action_env=true

# Enable the CC toolchain resolution based on platforms.
build --incompatible_enable_cc_toolchain_resolution
