---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 3
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: No
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
UseTab: Never
