# Astyl => .clang-format
# https://astyle.sourceforge.net/astyle.html
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# Align
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: 
  Enabled: false
  AcrossComments: false
  AcrossEmptyLines: false
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

# Shorts
AllowShortBlocksOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true 
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: OnlyFirstIf
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

# Packing
PackConstructorInitializers: BinPack
SpaceBeforeCtorInitializerColon: false

# Breaks
BreakBeforeBraces: Allman
InsertBraces: true # Warning
BreakArrays: false
BreakAfterReturnType: None
BreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakFunctionDefinitionParameters: false
AlwaysBreakBeforeMultilineStrings: false

# Indentation
IndentWidth: 3
ContinuationIndentWidth: 3
ConstructorInitializerIndentWidth: 3
Cpp11BracedListStyle: false
LambdaBodyIndentation: OuterScope
IndentAccessModifiers: false
AccessModifierOffset: -3
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
# ReflowComments: true

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true

# Pointers
PointerAlignment: Right
DerivePointerAlignment: false

# Tabs and spaces
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesInAngles: false
UseTab: Never
TabWidth: 3
ColumnLimit: 80

# Other
LineEnding: LF
SortIncludes: false
IncludeBlocks: Regroup
KeepEmptyLines: 
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
InsertNewlineAtEOF: true