.vscode
*.npy
*.png
*.gf
*.vtu
*.vtk
*.mesh
*.pyc
*.dat
mesh_loader
mesh_maker
B_field_projector_v0_0
B_field_projector_v0_1
B_field_projector_v1_1
B_field_projector_v1_2
J_field_projector_v2_1
test
ParaView