.vscode
*.npy
*.png
*.gf
*.vtu
*.vtk
*.mesh
*.pyc
*.dat
mesh_loader
mesh_maker
B_field_projector_v0_2
B_field_projector_v1_2
J_field_projector_v2_2
J_field_projector_v3_1
JxB_validator_v4_1
test
ParaView