body {
    padding-top: 70px;
}

/* hack to increase height of headers to make #anchors work with the top nav-bar,
   (note: we only want this on pages with TOC, otherwise there are other problems) */
div.col-md-9 h1[id]::before,
div.col-md-9 h2[id]::before,
div.col-md-9 h3[id]::before,
div.col-md-9 h4[id]::before,
div.col-md-9 h5[id]::before,
div.col-md-9 h6[id]::before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
    font-size: 13.5px;
}

label {
    font-weight: normal;
}

ul.nav li.main {
    font-weight: bold;
}

div.col-md-3 {
    padding-right: 0;
}

div.col-md-9, div.col-md-12 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

img.floatright {
    display: block;
    float: right;
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 25px;
}

img.teamphoto {
    box-shadow: 4px 4px 4px #999;
}

p.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
}*/

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #eeeeee;
  overflow: hidden;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin-top: 17px;
  margin-bottom: 0;
}
.container .alignleft {
  float: left;
}
.container .alignright {
  float: right;
}
