# Build artifacts
*.o
DiffuTopOpt
ElastTopOpt
ElastTopOpt_maxlen
ElastTopOpt_maxthick
ElastTopOpt_adv
ElastTopOpt_transient
ForwardElastodynamics
elasticity_topopt_par

# Outputs
ParaView/
*.csv

# macOS
.DS_Store

# ParaView files
*.vtu
*.vtk

# Shell scripts
*.sh

# Overleaf
6a0d1d2ed0a8576233e59255/

# ParaView application folder
ParaView/

# Gmsh application folder
gmsh-4.11.1-Linux64/

# Mesh files (generated)
*.msh
